.main-wrapper {
  height: 100vh;
}

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mt-6 {
  margin-top: 6rem;
}

.my-active {
  color: #e61414;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background: rgba(232, 230, 230, 0.79);

  text-align: center;
}
.label-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  color: #e61414;
}
.btn-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
}
